body {
    font-style: normal;
    background: 
}
#container {
    width: 1050px;
    /*border: 1px solid grey;*/
    margin: 0% auto;
}
#header {
    height: 100px; 
    padding: 10px 0;
}
#brand {
    float: left;
}

h1 a{
  font-size: 40px;
  font-weight: 100;
  color: rgb(34, 169, 27);
  text-decoration: none;

}

#searchBox {
     float: right;
     background: linear-gradient(rgb(128, 128, 128), rgb(11, 40, 109));
     width: 400px;
     height: 50px;
     padding: 10px 10px 0 10px;
     margin-top: 20px;
}

.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: darkslategray;
    background: white url(images/search.png) right center no-repeat;
    border: 1px solid darkcyan;
}

.submit {
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: cadetblue;
    font-size: 15px;

}

.clear {
    clear: both;
}

#menu {
    height: 70px;
    background: darkcyan;
    padding: 7px 0;
}
ul {
    list-style: none;

}
#menu ul li {
    float: left;
    padding: 0 40px;
    height: 30px;
    border-right: 1px solid;

}
#menu ul li:last-child {
    border-right: none;
}

#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 30px;
    -webkit-transition: font-size 0.5s ease;
    -moz-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
    -ms-transition: font-size 0.5s ease;
    transition: font-size 0.5s ease;
   
}
#menu ul li a:hover, #menu ul li a.active {
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
}

#introduction {
    background: linear-gradient(rgb(27, 111, 144), green);
    padding: 40px;
    margin: 16px 0;
}

#introduction h3 {
    font-size: 40px;
    color: rgb(146, 127, 114);
    font-weight: normal;
}

#introduction p {
    font-size: 25px;
    color: #808000
    text-align: justify 
}

.sidebar {
    height: 500px;
    width: 450px;
    border: 1px solid rgb(45, 45, 137);
    border-radius: 20px;
    padding: 10px 30px;
}

.sidebar h3 {
    color: green;
    font-size: 30px;
}

.sidebar ul {
    padding-top: 8px;
}
#leftsidebar ul li {
    padding-bottom: 6px;
    padding-top: 7px;
    padding-left: 10px;
    list-style-image: url(images/logo.png);
}
#rightsidebar ul li {
        padding-bottom: 10px;
        padding-top: 14px;
        padding-left: 40px;
        background: url(images/tick.png) no-repeat left;
    }

.sidebar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(72, 151, 80);
    -webkit-transition: font-size 0.5s ease;
    -moz-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
    -ms-transition: font-size 0.5s ease;
    transition: font-size 0.5s ease;
}
.sidebar ul li a:hover, .sidebar ul li a.active {
    text-decoration: none;
    color: darkgreen;
    font-size: 23px;
    font-weight: bold;
}

#leftsidebar {
    float: left;
}

#rightsidebar {
    float: right;
}

.footer {
    height: 60px;
    background: linear-gradient(rgb(70, 168, 114), green);
    padding: 10px 20px;
    margin-top: 10px;
}
